build/
install/
doc/
log/
runs/
.vscode/
DynamixelSDK
**/__pycache__/
**/__init__.py
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/plots/
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/__init__.py
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/helper_functions/__pycache__
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/checking_self_collision/__pycache__
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/checking_self_collision/__init__.py
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/pkl_files/
manipulator_trajectory_vision_gui/manipulator_trajectory_vision_gui/test_pykin.py