numpy==1.26.0
opencv-python==4.9.0.80
pyrealsense2==2.55.1.6486
transformations==2024.4.24
urdf-parser-py==0.0.4
trimesh==4.3.2
scikit-image==0.23.2
mediapipe==0.10.14
pykin==1.6.0
transforms3d==0.4.1
ultralytics==8.2.16